@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    621 NE 88th Street<br />
    Kansas City, MO 64155<br />
    Phone: 816.217.6983
</address>

<address>
    <strong> <a href="mailto:dannymitchell@gmail.com">Contact Me</a></strong><br />
</address>
